@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true

$dark: #0A223D
$accent: #EC1F46
$text: #333333

body
    +rfs(12)
    color: $text
    font-weight: normal
    font-family: Muli 
    background: #F5FAFE
.button
    border-radius: 6px
    font-weight: bold
    text-transform: uppercase
    width: 150px
    height: 40px
    color: white
    background-color: $accent
    &-cta
        width: 295px
    &-book
        width: 120px
.offer
    background-color: $accent
    border-radius: 3px
    width: 70px
    height: 20px
    display: flex
    align-items: center   
    justify-content: center 
    color: white
    
    &-xl
        width: 95px
        height: 30px
p 
    +rfs(14)
    font-weight: normal
.w
    color: white
h2
    +rfs(24)
    font-weight: bold
    text-transform: uppercase
.h3
    +rfs(14)
    font-weight: 500
    text-transform: uppercase
a   
    color: white
    text-decoration: none
h5 
    +rfs(18)
    font-weight: bold
    color: white
    line-height: 23px
h6 
    +rfs(10)
.bold
    font-weight: bold


    

.help-nav
    background: #F5FAFE
    width: 100%
    padding-bottom: 25px
    padding-top: 25px

.icons
    margin-right: 98px
        
    &:last-child
            margin-right: 0px
    &__img
        display: block
        padding-right: 10px
    
    &__link
        color: $text
        

.nav-search
    padding-top: 40px
    padding-bottom: 40px
    background: white

form 
    position: relative
    width: 300px
    margin: 0 auto

.search-input
    width: 100%
    height: 40px
    padding: 12px 170px 12px 30px
    border: none
    border-radius: 3px
    outline: none
    background: #F5FAFE
    color: #9E9C9C

.search-btn
    position: absolute
    top: 0
    right: 0px
    width: 65px
    height: 40px
    border: none
    background: $accent
    border-radius: 0px 5px 5px 0px

.select
    padding-left: 30px   
.selector
    border: 0px

.profile
    padding-left: 19px
    padding-right: 19px

.main-nav
    width: 100%
    background-color: $dark
    padding-top: 31px
    padding-bottom: 31px
.menu
    
    &__item
        margin-right: 84px
        &:last-child
            margin-right: 0px
    
    a   
        color: white
        text-decoration: none

// Main screen
.main-screen
    padding-top: 19px
    padding-bottom: 70px

.home-wrapper  
    padding-bottom: 40px
.home-pg
    color: $text   
    line-height: 13px

.title-btn
    padding-bottom: 10px

.stars
    
    &__icon
        padding-right: 3px
        padding-bottom: 6px
.offer
    &-title
        color: white

.offer-header
    margin-left: 70px

.rotate
    background-color: $accent
    width: 65px
    height: 45px
    text-align: center
    border-radius: 4px
    
    p
        color: white
        padding-top: 5px
.user
    +rfs(10)
    padding-top: 10px

.slider-wrapper
    padding-top: 30px

.card
    height: 215px
    h2 
        color: white
    &-text
        color: white

    &-body
        background: $dark
        border-radius: 8px
        padding-top: 30px
        padding-bottom: 26px
        
    p   
        color: white

.icon-wrap
    margin-right: 10px

.info
    margin-bottom: 10px

    &__text
        padding-top: 10px
        padding-bottom: 15px

.m-btn
    margin-top: 15px

// second screen

.package-nav

    // & .nav__item
    //     // margin-right: 53px !!!!!!!!!!!!!!!!!!!!
    //     color: $text
    // &:last-child
    //         margin-right: 0px
    a 
        color: $dark
        font-weight: bold
        text-decoration: none
        &:hover
            color: $accent
        &::after
            background-color: $accent
            display: block
            margin-top: 15px
            content: ""
            height: 4px
            width: 0%
            transition: width .3s ease
        &:hover::after
            width: 100%

// spackege screen

.package
    padding-top: 40px

.desc
    margin-top: 30px
    background-color: $dark
    width: 100%
    height: 50px
    border-radius: 4px 4px 0px 0px

    &__title
        color: white
        padding-left: 25px

.pack-card
    background-color: white
    padding-top: 25px
    padding-left: 24px
    padding-right: 24px
    &__item
        padding-bottom: 30px
    
    & .add-text
        width: 170px
        
    & .t-wrapper
        padding-bottom: 17px
.check
    padding-right: 20px

.package-wrap
    background-color: white

.details
    padding-left: 25px
    padding-top: 30px
    margin-bottom: 20px

    &__tittle
        color: $accent
        padding-bottom: 21px
    
    &__element
        padding-bottom: 22px

.border-wrap
    position: relative
    padding-bottom: 30px
.border-wrap::after
    content: ''
    width: 90%
    height: 1px
    position: absolute
    background-color: #E0E0E0
    bottom: 0
    left: 5%
    margin-top: 30px
    margin-bottom: 30px

// other-pack

.other-pack
    background-color: white
    padding-top: 60px
    padding-bottom: 40px
    
    & .pack-title
        padding-bottom: 60px

.book
    max-hight: 500px 
    &-card-img
        background: url('../img/bg-card.png') left top / cover
        width: 100%
        height: auto
        padding-top: 25px
       
        
.book__wrapper
    background: $dark
    width: 100%
    border-radius: 0px 8px 8px 0px
    padding: 46px 21px 30px 44px
    
    & .book-paraghraph
        color: white
        line-height: 160.6%
        padding-top: 27px
        padding-bottom: 34px

.book-info
    padding-bottom: 35px
    & .book-icons
        padding-bottom: 10px
        &:last-child
            padding-bottom: 0px
    & p 
        color: white

.price
    color: white
    text-decoration-line: line-through

.book-element
    background: $dark
    border-radius: 0px 0px 8px 8px
    padding: 30px 21px 25px 32px
    & h5 
        padding-bottom: 15px

.element 
    padding-bottom: 24px

.cards-wrap
    padding-top: 30px

// img-card

.img-card__first
    background: url('../img/bg-s.png') center /cover 
    height: 250px
    padding-top: 25px

.img-card__second
    background: url('../img/bg-s-s.png') center /cover 
    height: 250px
    padding-top: 25px

.img-card__third
    background: url('../img/bg-ss.png') center /cover 
    height: 250px
    padding-top: 25px

.img-card__fourth
    background: url('../img/bg-s-s.png') center /cover 
    height: 250px
    padding-top: 25px

// img-card

// comments

.comments
    padding-top: 50px
    overflow-x: hidden

    & .header-wrap
        padding-bottom: 115px

.comment-block
    width: 731px
    background-color: #fff 
    padding: 55px 95px 30px 95px
    position: relative
    quotes: "\201C""\201D""\2018""\2019"
    
    &::before
        position: absolute
        color: rgba(0, 0, 0, 0.1)
        content: open-quote
        font-size: 250px
        left: 10px
        bottom: 100px
    
    &::after
        position: absolute
        color: rgba(0, 0, 0, 0.1)
        content: close-quote
        font-size: 250px
        top: 25%
        right: 6%
        
    &-text
        color: $accent
    &-date
        padding-top: 10px
        padding-bottom: 5px
        color: $text
    
    &-info
        max-width: 537px
        padding-top: 30px
        text-align: justify
        line-height: 160%
        width: 100%

.profile-img
    position: absolute
    background: url('../img/profile-com.png') center / cover
    width: 90px
    height: 90px
    left: 50%
    margin-left: -50px
    top: -50px
